:root {
	--primary:#00AFEE;
	--primary-rgb:0,175,238;
	--secondary:#393C92;
	--secondary-rgb:57,60,146;
	--light:#fff;
	--light-rgb:255,255,255;
	--dark:#000;
	--dark-rgb:0,0,0;
	--outfit:'Outfit', sans-serif;
	--container:600px;
}

/* GLOBALS */
body { background:var(--light); color:var(--dark); font-family:var(--outfit); font-size:15px; font-weight:500; line-height:1; -webkit-text-size-adjust:100%; -webkit-font-smoothing:antialiased; min-height:100vh; }
::placeholder { color:var(--light); }
::selection { background:var(--primary); color:var(--light); }
a { text-decoration:none; color:var(--dark); transition:all 0.7s; }
a:hover { text-decoration:none; color:var(--primary); }

h1 { font-size:70px; line-height:1; }
p { font-size:15px; line-height:1.2; }
@media (max-width:992px) {
	h1 { font-size:50px; }
}

::-webkit-scrollbar-track { background-color:#f5f5f5; }
::-webkit-scrollbar { width:10px; background-color:#f5f5f5; }
::-webkit-scrollbar-thumb { border-radius:0; background-color:var(--primary); }

/* BRAND BUTTONS */
.btn { box-shadow:none; padding:15px 25px; border-radius:5px; font-size:20px; line-height:1; }
.btn:focus { box-shadow:none; }
.btn.btn-primary { background:var(--primary); border-color:var(--primary); }
.btn.btn-primary:hover { background:transparent; color:var(--primary); }
.btn.btn-dark { background:var(--dark); border-color:var(--dark); }
.btn.btn-dark:hover { background:transparent; color:var(--dark); }
.btn.btn-outline { background:transparent; border-color:var(--primary); color:var(--primary); }
.btn.btn-outline:hover { background:var(--primary); color:var(--light); }
.bg-primary { background:var(--primary); }
.bg-p--primary { background:var(--primary); }
button { box-shadow:none; }
button:focus { box-shadow:none; border:0; }

form .form-group label { font-size:14px; font-weight:700; line-height:1; color:var(--dark); width:100%; display:block; }
input[type="text"],
input[type="number"],
input[type="email"],
input[type="date"],
input[type="password"],
input[type="tel"],
textarea,
select { width:100%; box-shadow:none; border-radius:5px; border-color:#887E7E; background:var(--light); padding:8px 15px; height:auto; color:#635C5C; font-size:15px; line-height:1; font-weight:400; }
input[type="text"]::placeholder,
input[type="number"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="tel"]::placeholder,
textarea::placeholder { color:#778390; font-size:15px; line-height:1; font-weight:400; }
input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus { border-color:var(--primary); box-shadow:none; }
form .form-group { margin-bottom:14px; }
form .form-group label { margin-bottom:10px; color:var(--dark); }
form .form-group .error { border-color:#f00; box-shadow:0 0 0 0.2rem rgb(219,47,47,0.2); }

header { max-width:var(--container); height:40px; margin:0 auto 0; padding:0 15px 0;	display:flex; justify-content:space-between; align-items:center; }
header .hamburger i { font-size:20px; }

#main { max-width:var(--container); min-height:calc(100vh - 80px); margin:0 auto; background:#fff; padding:15px 15px 0; }
.login { margin:0 15px; }
.login .logo { max-width:230px; margin:0 auto; }
.login .logo img { width:100%; height:auto; }
.login .bg { max-width:300px; margin:40px auto 0; }
.login .bg img { width:100%; height:auto; }
.login form { margin:40px 0 100px; }
.login form h2 { margin:0 0 20px; }
.login form input[type="text"],
.login form input[type="password"] { padding:18px 20px; }
.login form .forgot { text-align:right; color:#635C5C; display:block; }
.login form button { display:block; width:100%; margin-top:30px; }

.userDetails { margin:0 15px; padding:10px 15px 10px; border-radius:5px; background:var(--light); box-shadow:0 0 8px rgb(var(--dark-rgb),0.2); }
.userDetails .head { display:flex; justify-content:space-between; align-items:center; }
.userDetails .head h2 { margin:0; font-size:20px; }
.userDetails .head h2 .text { margin:4px 0 0; font-size:12px; color:rgb(var(--dark-rgb),0.5); }
.userDetails .head .arrow { position:relative; width:15px; height:15px; }
.userDetails .head .arrow:before { position:absolute; top:0; left:0; content:''; width:15px; height:15px; border-top:1px solid var(--dark); border-right:1px solid var(--dark); transform:rotate(135deg); }
.userDetails form { margin:20px 0; }
.userDetails form .checkbox { display:flex; justify-content:flex-start; align-items:center; }
.userDetails form .checkbox input[type="radio"] { appearance:none; display:none; }
.userDetails form .checkbox label { font-size:14px; color:var(--dark); display:flex;	justify-content:center; align-items:center; background-color:inherit; width:80px; height:35px; text-align:center;	border-radius:5px;	overflow:hidden;	transition:linear 0.3s; background:#E3F6FD;	cursor:pointer; margin-right:10px; }
.userDetails form .checkbox input[type="radio"]:checked + label { background-color:var(--secondary); color:var(--light); font-weight:500; transition:0.3s; }
.userDetails form button { text-align:center; display:inline-table; margin-top:20px; padding:7px 25px; font-size:16px; }

.step { display:flex; justify-content:center; align-items:center; margin:20px 0; }
.step span { width:30px; height:30px; background:rgba(var(--dark-rgb), 0.08); border-radius:50%; margin:0 10px; display:flex; justify-content:center; align-items:center; font-size:13px; color:rgba(var(--dark-rgb),0.4);; }
.step span.active { background:var(--primary); color:var(--light); }
.step span.done { background:rgba(var(--dark-rgb),0.2); color:var(--light); }

.question { position:relative; margin:40px 15px 0; padding:30px 15px 30px; border-radius:8px; background:var(--light); box-shadow:15px 15px 15px rgb(170,170,204,0.2); border:1px solid rgba(var(--dark-rgb),0.1); }
.question .que { padding:10px 15px; background:var(--secondary); color:var(--light); border-radius:5px; margin:0 0 20px -30px; font-size:18px; line-height:1.3; color:var(--light); }
.question form { position:relative; z-index:5; }
.question form button { text-align:center; display:inline-table; margin-bottom:20px; padding:6px 15px; font-size:14px; margin:0 4px; }
.question form .buttonLight { background:rgba(var(--primary-rgb),0.1); border-color:rgba(var(--primary-rgb),0.1); color:var(--dark); }
.question form .custom_radio input[type="radio"]{ display:none; }
.question form .custom_radio input[type="radio"] + label{ position:relative; display:block; padding:12px 15px; background:rgba(var(--primary-rgb),0.1);	border-radius:5px; cursor:pointer; line-height:1em; transition:all 0.3s ease-in-out; }
.question form .custom_radio input[type="radio"] + label:before,
.question form .custom_radio input[type="radio"] + label:after { content:''; position:absolute; top:50%; transform:translateY(-50%); right:15px; width:15px; height:15px; text-align:center; color:var(--light); font-family:Times; border-radius:50%; transition:all .3s ease;	border:1px solid var(--secondary); }
.question form .custom_radio input[type="radio"] + label:before { transition:all .3s ease; box-shadow:inset 0 0 0 0.2em var(--light), inset 0 0 0 1em var(--light); }
.question form .custom_radio input[type="radio"] + label:hover:before { transition:all .3s ease; box-shadow:inset 0 0 0 0.25em var(--light), inset 0 0 0 1em #c6c6c6; }
.question form .custom_radio input[type="radio"]:checked + label:before { transition:all .3s ease; box-shadow:inset 0 0 0 0.2em var(--light), inset 0 0 0 1em var(--secondary); }

.meterBar { margin:50px 20px 40px; }
.meterBar img { width:100%; height:auto; object-fit:cover; }

footer { max-width:var(--container); height:40px; text-align:center; padding:10px 0;	margin:0 auto;	border-top:1px solid #E3E3E3; }
footer p { font-size:14px; font-weight:500; color:var(--dark); margin:0; }